@import './as-note.scss';

:host {
  --mdc-theme-surface: rgb(24, 26, 27);
}
.avatar-parent,
.avatar-side,
.avatar {
  color: var(--mdc-theme-text-primary-on-dark)
}
.card__secondary,
.card__subtitle {
  color: var(--mdc-theme-text-secondary-on-dark)
}
.mdc-card__action--icon {
  color: gray !important;
}