@import "../../utils/fonts";

:host {
  display: block;
}
* {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.card__secondary,
.card__primary {
  padding: 1rem;
}
.card__secondary,
.card__subtitle {
  color: var(--mdc-theme-text-secondary-on-background,rgba(0,0,0,.54));
}
.card__secondary {
	padding: 0 1rem 8px;
}
.card__title,
.card__subtitle {
  margin: 0;
}
.card__title__icon {
  position: relative;
  top: 0.3rem;
  left: 0.2rem;
}
a.undercorated,
a.mdc-list-item__text {
  text-decoration: unset;
  color: unset;
}
.mdc-card__actions.no-actions {
  min-height: 40px;
  & .mdc-card__action-buttons {
    font-size: 14px;
    color: gray;
  }
  span:not(:first-child) {
    margin-left: 0.3rem;
  }
  span:not(:last-child) {
    margin-right: 0.3rem;
  }
}
.mdc-card__action--text {
  z-index: 2;
  margin-right: 0.5rem !important;
}
.mdc-card__primary {
  outline: none;
}
// Tachyons.io avatar
.avatar {
  & img {
    border-radius: .25rem;
    display: inline-block;
    height: 3rem;
    width: 3rem;
  }
  h2 {
    margin: none;
  }
  padding-right: 0.5rem;
}
.avatar-parent,
.avatar,
.avatar-side {
  color: var(--mdc-theme-text-primary-on-light);
  text-decoration: none;
}
.avatar-side {
  max-width: calc(100% - 7rem);
}
.card-status {
  position: relative;
  right: -0.5rem;
  margin-left: auto;
  margin-bottom: auto;
  & i:not(:first-child) {
    margin-left: 0.2rem;
  }
}
.mdc-card__actions,
.material-icons {
  color: gray;
  font-size: 1rem;
}
.card__primary--flex {
  display: flex;
  align-items: center;
}
.card__secondary {
  &.collapsed {
    height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 0;
    position: relative;
  }
  &.collapsed::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(rgba(40, 44, 55, 0), #282c3745);
    pointer-events: none;
  }
}
.card__secondary--content {
  & p:last-child {
    margin-bottom: 0 !important;
  }
  & p:first-child {
    margin-top: 0 !important;
  }
  & p {
    overflow: hidden;
    text-overflow: ellipsis;
  }
  & a {
    text-decoration: none;
  }
}
.invisible {
	font-size: 0;
	line-height: 0;
	display: inline-block;
	width: 0;
	height: 0;
	position: absolute;
}
.one-line-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.mdc-typography--subtitle2 {
  color: gray !important;
}
.mdc-icon-button-small {
  width: 20px !important;
  height: 20px !important;
  padding: 0 !important;
}
.mdc-card__primary--loading {
  min-height: 200px;
  display: flex;
  justify-content: center;
}
.card__primary--loading {
  margin: auto;
}
.mdc-card__media {
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
.card__secondary--sensitive {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 0.8rem;
  margin-bottom: 1rem;
  div {
    width: 100%;
  }
  span,
  button {
    margin-top: 0.5rem;
    margin: auto;
    width: max-content;
  }
}
.media-gallery {
  box-sizing: border-box;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  min-height: 200px;
  row-gap: 2px;
  column-gap: 2px;
}
.media-gallery--single {
  grid-template-columns: 1fr;
}
.media-gallery__item {
	border: none;
	display: block;
	float: left;
	position: relative;
	overflow: hidden;
}

@import "@material/button/mdc-button";
// @import "@material/icon-button/mdc-icon-button";
@import "@material/card/mdc-card";
// @import "@material/checkbox/mdc-checkbox";
// @import "@material/chips/mdc-chips";
// @import "@material/data-table/mdc-data-table";
// @import "@material/dialog/mdc-dialog";
// @import "@material/drawer/mdc-drawer";
// @import "@material/elevation/mdc-elevation";
// @import "@material/fab/mdc-fab";
// @import "@material/floating-label/mdc-floating-label";
// @import "@material/form-field/mdc-form-field";
// @import "@material/grid-list/mdc-grid-list";
// @import "@material/image-list/mdc-image-list";
// @import "@material/layout-grid/mdc-layout-grid";
// @import "@material/line-ripple/mdc-line-ripple";
// @import "@material/linear-progress/mdc-linear-progress";
@import "@material/list/mdc-list";
@import "@material/menu/mdc-menu";
@import "@material/menu-surface/mdc-menu-surface";
// @import "@material/notched-outline/mdc-notched-outline";
// @import "@material/radio/mdc-radio";
@import "@material/ripple/mdc-ripple";
// @import "@material/select/mdc-select";
// @import "@material/slider/mdc-slider";
// @import "@material/snackbar/mdc-snackbar";
// @import "@material/switch/mdc-switch";
// @import "@material/tab/mdc-tab";
// @import "@material/tab-bar/mdc-tab-bar";
// @import "@material/tab-indicator/mdc-tab-indicator";
// @import "@material/tab-scroller/mdc-tab-scroller";
// @import "@material/textfield/mdc-text-field";
// @import "@material/theme/mdc-theme";
// @import "@material/top-app-bar/mdc-top-app-bar";
@import "@material/typography/mdc-typography";
@import "button";