@import "jsondiffpatch/dist/formatters-styles/html";
@import "../../utils/fonts";

.green { color: #19a974; }
.mr2 { margin-right: .5rem }

.mdc-card {
  width: 350px;
}

.card__secondary,
.card__primary {
  padding: 1rem;
}

.card__secondary,
.card__subtitle {
  color: var(--mdc-theme-text-secondary-on-background,rgba(0,0,0,.54));
}
.card__secondary {
	padding: 0 1rem 8px;
}

.card__title,
.card__subtitle {
  margin: 0;
}
.card__title__icon {
  position: relative;
  top: 0.3rem;
  left: 0.2rem;
}

a.mdc-list-item__text {
  text-decoration: unset;
  color: unset;
}

.mdc-typography--headline6 {
	font-size: 1.25rem;
	font-weight: 500;
	letter-spacing: .0125em;
}
.mdc-typography--subtitle2 {
	font-size: .875rem;
	line-height: 1.375rem;
	font-weight: 500;
	letter-spacing: .0071428571em;
}

@import "@material/button/mdc-button";
@import "@material/icon-button/mdc-icon-button";
@import "@material/card/mdc-card";
// @import "@material/checkbox/mdc-checkbox";
// @import "@material/chips/mdc-chips";
// @import "@material/data-table/mdc-data-table";
@import "@material/dialog/mdc-dialog";
// @import "@material/drawer/mdc-drawer";
// @import "@material/elevation/mdc-elevation";
// @import "@material/fab/mdc-fab";
// @import "@material/floating-label/mdc-floating-label";
// @import "@material/form-field/mdc-form-field";
// @import "@material/grid-list/mdc-grid-list";
// @import "@material/image-list/mdc-image-list";
// @import "@material/layout-grid/mdc-layout-grid";
// @import "@material/line-ripple/mdc-line-ripple";
// @import "@material/linear-progress/mdc-linear-progress";
@import "@material/list/mdc-list";
@import "@material/menu/mdc-menu";
@import "@material/menu-surface/mdc-menu-surface";
// @import "@material/notched-outline/mdc-notched-outline";
// @import "@material/radio/mdc-radio";
@import "@material/ripple/mdc-ripple";
// @import "@material/select/mdc-select";
// @import "@material/slider/mdc-slider";
// @import "@material/snackbar/mdc-snackbar";
// @import "@material/switch/mdc-switch";
// @import "@material/tab/mdc-tab";
// @import "@material/tab-bar/mdc-tab-bar";
// @import "@material/tab-indicator/mdc-tab-indicator";
// @import "@material/tab-scroller/mdc-tab-scroller";
// @import "@material/textfield/mdc-text-field";
@import "@material/theme/mdc-theme";
// @import "@material/top-app-bar/mdc-top-app-bar";
@import "@material/typography/mdc-typography";